/* != Layout - Grid  */
/*
NOTE: Styles to set the layout of the larger containers and regions in the template.
      Uses the FUZZ framework hierarchy (https://github.com/jamboid/Fuzz)
*/

/* !== Fuzz Framework Levels */

/* Basic styles for 5 levels of the framework */

/* !=== Stages (.st) - Level 1 - Full Width Container(s) */
.st {
  position: relative;
  width:100%;
}

.stHeader {
  background:$clrWhite;
  color:$clrLightGrey;
}

.stPage {
  background:$clrWhite;
  color:$clrDarkGrey;
}

.stFooter {
  padding: em(20) 0;
  background:$clrDarkGreyGradient;
  color:$clrWhite;
}

/* !=== Field (.fd) - Level 2 - Horizontal Page Sections (e.g. Header, Page Content, Footer) */
/* NOTES: Set fixed/non-MQ width and then add a null MQ to set width for MQ-compatible browsers */
.fd {
  @include clearfix;
  clear:both;
  margin:0 auto;
  padding:0;
  @include page-content-width;
}

/* !=== Region (.rg) - Level 3 - Significant Page Regions (e.g. Main Content, Sub Content) */
.rg {
  @include clearfix;
}

.rgMainContent {
  float: right;
  width: 75%;
}

.rgSubContent {
  float: left;
  width: 25%;
}

/* !=== Group (.gp) - Level 4 - Semantic Groups of Components */
.gp {
  z-index:0;
  clear:both;
  margin:0;
  padding:0;
  width:100%;
}

/* !=== Component (.cp) - Self-Contained Functional Modules (e.g. Main Navigation, Carousel, Body Content) */
.cp {
  margin:0;
  padding:0;
  width:100%;
}

/* !=== Inner (.in) - Component Inner Container - Set Component styles and layout using this element */
.in {
  @include clearfix;
  @include cpDefaultLayout;
}