/* != Style Guide  */

/* NOTES: Styles to create a flat style guide */

/* !== Page Title - override for Style Guide page */
.ttPage {
  font-size: em(24);
  padding:em(10,24) 0;
  border-bottom:2px solid $clrVeryLightGrey;
}

/* !== Style Guide label */
.sgLabel {
  font-size: em(20) !important;
  margin-bottom:em(10,20);
  color:$clrBlue;
}

/* !== Section Toggle Component */
.cpSectionToggle {
  .in {
    margin-bottom: em(20);
  }

  .ttComp {
    font-size: em(18);
    margin:0;
    padding: em(12,18) em(50,18) em(12,18) em(10,18) ;
    background:$clrVeryLightGrey;
  }
}

/* !== Show/Hide widget components - selected by data-* attributes */
[data-plugin=showhide] {
  [data-action=toggle] {
    position: relative;
    cursor: pointer;

    &:after {
      content:"";
      transform: rotate(135deg);
      transition:all .2s linear;
      font-size:1.2em;
      position: absolute;
      right: em(15);
      top: em(10);
      width:20px;
      height:20px;
      text-align: center;
      vertical-align: middle;
      z-index: 100;
      display: block;
      background:url(img/plus.svg) center center no-repeat;
      background-size:20px 20px;
    }
  }

  &.isClosed {
    [data-action=toggle] {
      &:after {
        transform: rotate(0);
      }
    }

    [data-content=showhide] {
      //display: none
    }
  }
}
