/* != Configuration */

/* !== Set viewport and initial zoom for browsers that support CSS viewport functionality */
@-webkit-viewport {
  width: $deviceWidth;
  zoom: 1.0;
}

@-moz-viewport {
  width: $deviceWidth;
  zoom: 1.0;
}

@-ms-viewport {
  width: $deviceWidth;
  zoom: 1.0;
}

@-o-viewport {
  width: $deviceWidth;
  zoom: 1.0;
}

@viewport {
  width: $deviceWidth;
  zoom: 1.0;
}