/* != Layout  */

/* !== Document */
body {
	margin:0;
	padding:0;
	background:$clrBodyBackground;
}

/* !== Framework Levels */

/* Basic styles for 5 levels of the framework */

/* !=== Stages (.st) */
.st {
	width:100%;
	position: relative;
}

.stHeader {
  background:$clrHeaderBackground;
  color:$clrHeaderText;
  padding:0;
}

.stPage {
  background:$clrPageBackground;
  color:$clrPageText;
  padding:0;
}

.stFooter {
  background:$clrFooterBackground;
  color:$clrFooterText;
  padding: 2em 0;
}

/* !=== Field (.fd) */
.fd {
	clear:both;
	margin:0 auto;
	padding:0;
	width:100%;
	max-width:$fullWidth;
}

/* !=== Region (.rg) */
.rg {

}

/* !=== Group (.gp) */
.gp {
	position:relative;
	z-index:0;
	float:left;
	clear:both;
	margin:0;
	padding:0;
	width:100%;
	list-style:none;
}

/* !=== Component (.cp) - Set outer dimensions (width, height) and display */
.cp {
	margin:0;
	padding:0;
	width:100%;
}

/* !=== Inner (.in) - Set component layout */
.in {
	margin:0 1.5em 3em;
}

/* !=== Grid Alignment - margins */

/* !== Display Classes  */
.isShowing {
  display: block;
}

.isHidden {
  display: none;
}