/* != Document */
body {
	margin:0;
	padding:0;
	background:$clrBlack;
	color:$clrWhite;
	font-size:62.5%; /* = 10px */
	font-family:$basefontfamily;
	line-height:1.5;
}

/* != Framework Levels */

/* Basic styles for 5 levels of the framework */

/* !== Stages (.st) */
.st {
	width:100%;
	position: relative;
}

/* !== Field (.fd) */
.fd {
	clear:both;
	margin:0 auto;
	padding:0;
	width:100%;
	max-width:1200px;
}

/* !== Region (.rg) */
.rg {

}

/* !== Group (.gp) */
.gp {
	position:relative;
	z-index:0;
	float:left;
	clear:both;
	margin:0;
	padding:0;
	width:100%;
	list-style:none;
}

/* !== Component (.cp) - Set outer dimensions and display */
.cp {
	margin:0;
	padding:0;
	width:100%;
}

/* !== Inner (.in) - Set component layout */
.in {
	margin:0 15px 30px;
}

/* !== Grid Alignment - margins */
