/* != Links / Buttons */

/* !== Default Link Styles  */
a {
  color:$clrLink;
  -webkit-tap-highlight-color: $clrNone;
  -webkit-tap-highlight-color: $clrInvsibile;

  &:hover, &:focus, &:active {
    color:$clrLinkHover;
  }
}

/* !==  More/Action link */
.moreLink {
  a {
    color:$clrMoreLink;
    padding:5px 10px;
    display: inline-block;
    text-decoration: none;
    border-radius:3px;
    @include linear-gradient($clrMoreLinkBack...);

    &:hover, &:focus {
      background:$clrMoreLinkBackHover;
      @include background(linear-gradient($clrMoreLinkBackHover...));
    }

    &:active {
      @include background(linear-gradient($clrMoreLinkBackActive...));
    }
  }
}