/* !== Typography  */

/* !== Typefaces */
/* NOTE: Declare any @font-face rules here */

/* !== Document */
body {
	font-size:62.5%; /* = 10px */
	font-family:$basefontfamily;
	line-height:1.5;
	color:$clrBodyText;
}

/* !== Headings */
h1,h2,h3,h4,h5,h6 {
	font-weight:$heavy;
	line-height: 1.3;
	margin:0;
}

.siteTitle {
	margin:0;
	font-size:2em;
	color:$clrHeaderText;
	font-weight: $normal;
}

.pageTitle {
	font-size:3.6em;
	margin:1em 0 0.5em;
}

.compTitle {

}

/* !== Paragraphs */
p {
	margin:0 0 1em;
	font-size:$basefontsize;
}

/* !== Lists */
li,dt,dd {
	font-size:2em;
}

li li {
	font-size:0.9em;
}

.featList {
	margin:0;
	padding:0;
	list-style:none;
}

/* !== Code */
code {
	font-size:$basefontsize;
	font-family:$codefontfamily;
}
