/* != Utilities */

/* !== Self-Clearing Floats */
.fd, .rg, .in, .clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/* !== Display State Classes  */
.isVisible {
  display: block;
}

.isHidden {
  display: none;
}