/* != Placeholders - Typography - HEADING STYLES */

/* !== Heading Styles */

// Base class for using display font
%displayText {
  font-family: $displayfontfamily;
  font-weight:$bold;
  text-transform: uppercase;
}

// Extended class for heading-specific styles
%headingText {
  @extend %displayText;
  line-height: 1.1;
}