<div class="fdPageSection fd">
  <div class="rgSection rg" data-plugin="showhide" data-plugin-config='{"animate": true, "open": true}'>

    <div class="cpSectionToggle">
      <div class="in">
        <h2 class="ttComp" data-action="toggle">App Kit</h2>
      </div>
    </div>

    <div class="cp" data-content="showhide">
      <div class="in">
        <div class="formField">
          <input type="search" class="akSearch akFormInput" placeholder="Keyword or subject...">
          <input type="submit" value="Search" class="akButton akFormInput">
        </div>
      </div>
    </div>
  </div>
</div>