
<div class="fdPageSection fd">
  <div class="rgSection rg" data-plugin="showhide" data-plugin-config='{"animate": true, "open": true}'>

    <!-- Section Toggle -->
    <div class="cpSectionToggle cp">
      <div class="in">
        <h2 class="compTitle" data-action="toggle">Carousel</h2>
      </div>
    </div>


    <div class="cpCarousel cp" data-content="showhide" data-plugin="carousel" data-config='{"interval": 3000, "transition": 1000, "paused": true}'>
      <div class="in">
        <ul class="slides cleanList">
          <li class="slide">
            <a href="#">
              <img src="http://placehold.it/1200x770/666666/ffffff/&text=Slide+1" alt="placeholder_carousel_1" width="1024" height="766">
            </a>
          </li>
          <li class="slide">
            <a href="#">
              <img src="http://placehold.it/1200x770/CC6666/ffffff/&text=Slide+2" alt="placeholder_carousel_2" width="1024" height="766">
            </a>
          </li>
          <li class="slide">
            <a href="#">
              <img src="http://placehold.it/1200x770/66CC66/ffffff/&text=Slide+3" alt="placeholder_carousel_3" width="1024" height="766" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>