  <div class="fd_PageSection">
    <div class="rg_Section">
      <div class="cp_StyleGuide">
        <div class="in">
          <div class="compContent bodyContent">

  {{#markdown}}

  # Flexbox Demo

  {{/markdown}}

          </div>
        </div>
      </div>
    </div>
  </div>