  <div class="fdPageSection fd">
    <div class="rgSection rg">
      <div class="cpStyleGuide cp">
        <div class="in">
          <div class="compContent bodyContent">

  {{#markdown}}

  # Flexbox Demo

  {{/markdown}}

          </div>
        </div>
      </div>
    </div>
  </div>