<!-- Default Form Elements -->
<div class="fdPageSection fd">
  <div class="rgSection rg" data-plugin="showhide" data-plugin-config='{"animate": true, "open": true}'>

  <div class="cpSectionToggle">
    <div class="in">
      <h2 class="ttComp" data-action="toggle">Basic Form elements </h2>
    </div>
  </div>

    <div class="cpStyleGuide cp" data-content="showhide">
      <div class="in">
        <div class="compContent bodyContent">
          <form action="">
            <fieldset>
              <legend>Fieldset legend</legend>
              <div class="formItem noLabel">
                <label>Your name</label>
                <input type="text" placeholder="Your name" />
              </div>
              <div class="formItem">
                <label>Text field</label>
                <input type="text" placeholder="e.g. Some text" />
              </div>
              <div class="formItem">
                <label>Select input</label>
                <select name="" id="">
                  <option value="0">Please select...</option>
                  <option value="val1">Option 1</option>
                  <option value="val2">Option 1</option>
                  <option value="val3">Longer option with more text</option>
                  <option value="val4">Option 4</option>
                </select>
              </div>
              <div class="formItem">
                <label>Text area</label>
                <textarea placeholder="e.g. your message to us"></textarea>
              </div>
              <div class="formItem">
                <label for="radio1"><input type="radio" id="radio1" name="radioGroup"/>Radio Button 1</label>
                <label for="radio2"><input type="radio" id="radio2" name="radioGroup"/>Radio Button 2</label>
              </div>
              <div class="formItem">
                <label for="checkbox1"><input type="checkbox" id="checkbox1" />Checkbox</label>
              </div>
              <div class="formItem">
                <label>Multi-select List</label>
                <select multiple size="5">
                  <option>Please select</option>
                  <option>Longer selection option</option>
                  <option>Another selection option</option>
                  <option>Another selection option</option>
                  <option>Another selection option</option>
                  <option>Another selection option</option>
                  <option>Another selection option</option>
                  <option>Another selection option</option>
                  <option>Another selection option</option>
                </select>
              </div>
              <div class="formItem">
                <label>File Upload</label>
                  <input type="file" />
              </div>

              <div class="formItem">
                <label>Search Field (type=search)</label>
                <input type="search" placeholder="keyword" />
              </div>
              <div class="formItem">
                <label>Datalist Field</label>
                <input type="text" placeholder="keyword" list="datalist" />
                <datalist id="datalist">
                  <option value="Mr" />
                  <option value="Mrs" />
                  <option value="Miss" />
                  <option value="Duke"/>
                </datalist>
              </div>
              <div class="formItem">
                <label>Date Field (type=date)</label>
                <input type="date" value="2011-03-02" />
              </div>
              <div class="formItem">
                <label>Month Field (type=month)</label>
                <input type="month" value="2011-03"/>
              </div>

              <div class="formItem">
                <label>Number Field (type=number)</label>
                <input type="number" max="100" max="0" step="5" value="0" />
              </div>
              <div class="formItem">
                <label>Email Field (type=email)</label>
                <input type="email" placeholder="Email address here" />
              </div>
              <div class="formItem">
                <label>Telephone Field (type=tel)</label>
                <input type="tel" placeholder="Phone number here" />
              </div>

              <div class="formItem">
                <label>Range Field (type=range)</label>
                <input type="range" max="100" min="0" step="10" value="0" />
              </div>

              <div class="formItem">
                <button>Button button</button>
              </div>

              <div class="formItem">
                <button type="reset">Reset button</button>
              </div>

              <div class="formItem">
                <input type="submit" value="Submit button" />
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>