
<div class="fdPageSection fd">
  <div class="rgSection rg" data-plugin="showhide" data-plugin-config='{"animate": true, "open": true}'>

    <!-- Section Toggle -->
    <div class="cpSectionToggle">
      <div class="in">
        <h2 class="ttComp" data-action="toggle">Iframe test</h2>
      </div>
    </div>


    <div class="cp" >
      <div class="in">
        <iframe src="http://www.wearegood.com" frameborder="0" style="width:100%;height:600px;"></iframe>
      </div>
    </div>
  </div>
</div>