<div class="fdPageSection fd">
  <div class="rgSection rg" data-plugin="showhide" data-plugin-config='{"animate": true, "open": false}'>

  <div class="cpSectionToggle cp">
    <div class="in">
      <h2 class="ttComp" data-action="toggle">Images</h2>
    </div>
  </div>

    <div class="cpImageLoader cp" data-content="showhide">
      <div class="in">
        <div class="image lazyLoader" data-image-load="view" data-image-type="inline" data-src-small="/assets/img/placeholder_image.jpg" data-src-medium="/assets/img/placeholder_image.jpg" data-src-large="/assets/img/placeholder_image.jpg" data-src-xlarge="/assets/img/placeholder_image.jpg" data-src-xxlarge="/assets/img/placeholder_image.jpg" data-alt="A Shrubbery!!!">
          <noscript >
            <img src="/assets/img/placeholder_image.jpg" alt="Placeholder" />
          </noscript>
        </div>
        <div class="image lazyLoader" data-image-load="click" data-image-type="inline" data-src-small="/assets/img/placeholder_image.jpg" data-src-medium="/assets/img/placeholder_image.jpg" data-src-large="/assets/img/placeholder_image.jpg" data-src-xlarge="/assets/img/placeholder_image.jpg" data-src-xxlarge="/assets/img/placeholder_image.jpg" data-alt="A Shrubbery!!!">
          <noscript >
            <img src="/assets/img/placeholder_image.jpg" alt="Placeholder" />
          </noscript>
        </div>
        <div class="image lazyLoader" data-image-load="view" data-image-type="inline" data-src-small="/assets/img/placeholder_image.jpg" data-src-medium="/assets/img/placeholder_image.jpg" data-src-large="/assets/img/placeholder_image.jpg" data-src-xlarge="/assets/img/placeholder_image.jpg" data-src-xxlarge="/assets/img/placeholder_image.jpg" data-alt="A Shrubbery!!!">
          <noscript >
            <img src="/assets/img/placeholder_image.jpg" alt="Placeholder" />
          </noscript>
        </div>
      </div>
    </div>
  </div>
</div>