<!-- Introduction -->
<div class="fd_PageSection">
  <div class="rg_Intro rg_Section">
    <div class="cp_StyleGuide">
      <div class="in">
        <div class="compContent bodyContent">
          <p>This is a set of starter files for front-end development projects. It includes:</p>
          <ul>
            <li>Fuzz: A tiny framework for rapidly creating Responsive Designs</li>
            <li>A collection of commonly-used JavaScript modules sitting under a common namespace</li>
            <li>A basic set of SASS files for creating super-powered CSS</li>
            <li>An example Gulp-based workflow</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Introduction -->