<div class="fd_PageSection">
    <div class="rg_Section">
      <!-- Intro -->
      <div class="cp_SectionToggle">
        <div class="in">
          <h2 class="ttComp">Responsive Scroller Demo</h2>
        </div>
      </div>

      <!-- End of Intro -->

      <div class='cp_Scroller' data-plugin='scroller' data-config='{"timeUnit": 200, "maxScroll": 4}'>
        <div class="in scrollHolder">
          <ul class="scrollContent"><li class="scrollItem">
              <div class="content">
                  <p class="image"><img src="http://placehold.it/1200x770/666666/ffffff/&text=Slide+1" alt="Placeholder" /></p>
                  <p class="summary"><strong>Item 1</strong></p>
              </div>
              </li><li class="scrollItem">
                  <div class="content">
                      <p class="image"><img src="http://placehold.it/1200x770/aa6666/ffffff/&text=Slide+2" alt="Placeholder" /></p>
                      <p class="summary"><strong>Item 2</strong></p>
                  </div>
              </li><li class="scrollItem">
                  <div class="content">
                      <p class="image"><img src="http://placehold.it/1200x770/66aa66/ffffff/&text=Slide+3" alt="Placeholder" /></p>
                      <p class="summary"><strong>Item 3</strong></p>
                  </div>
              </li><li class="scrollItem">
                  <div class="content">
                      <p class="image"><img src="http://placehold.it/1200x770/6666aa/ffffff/&text=Slide+4" alt="Placeholder" /></p>
                      <p class="summary"><strong>Item 4</strong></p>
                  </div>
              </li><li class="scrollItem">
                  <div class="content">
                      <p class="image"><img src="http://placehold.it/1200x770/666666/ffffff/&text=Slide+5" alt="Placeholder" /></p>
                      <p class="summary"><strong>Item 5</strong></p>
                  </div>
              </li><li class="scrollItem">
                  <div class="content">
                      <p class="image"><img src="http://placehold.it/1200x770/aa6666/ffffff/&text=Slide+6" alt="Placeholder" /></p>
                      <p class="summary"><strong>Item 6</strong></p>
                  </div>
              </li><li class="scrollItem">
                  <div class="content">
                      <p class="image"><img src="http://placehold.it/1200x770/66aa66/ffffff/&text=Slide+7" alt="Placeholder" /></p>
                      <p class="summary"><strong>Item 7</strong></p>
                  </div>
              </li><li class="scrollItem">
                  <div class="content">
                      <p class="image"><img src="http://placehold.it/1200x770/6666aa/ffffff/&text=Slide+8" alt="Placeholder" /></p>
                      <p class="summary"><strong>Item 8</strong></p>
                  </div>
              </li><li class="scrollItem">
                  <div class="content">
                      <p class="image"><img src="http://placehold.it/1200x770/666666/ffffff/&text=Slide+9" alt="Placeholder" /></p>
                      <p class="summary"><strong>Item 9</strong></p>
                  </div>
              </li></ul>
          <div class="scrollControls">
            <a href="#" data-action="previous" class="scrollPrev actionButton">Previous</a>
            <a href="#" data-action="next" class="scrollNext actionButton">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>