<div class="fdPageSection fd">
  <div class="rgSection rg" data-plugin="showhide" data-plugin-config='{"animate": true, "open": false}'>

  <div class="cpSectionToggle cp">
    <div class="in">
      <h2 class="compTitle" data-action="toggle">Videos</h2>
    </div>
  </div>

    <div class="cpImageLoader cp" data-content="showhide">
      <div class="in">
        <div class="media lazyVideo" data-plugin="lazyVideo" data-loading="view" data-video-id="eyZQUEMZlCU">
          <a class="placeholder"><img src="http://placehold.it/400x300/aaaaaa/ffffff/&text=Load Video" alt="Placeholder" /></a>
        </div>
        <div class="media lazyVideo" data-plugin="lazyVideo" data-loading="click" data-video-id="eyZQUEMZlCU" >
          <a class="placeholder"><img src="http://placehold.it/400x300/aaaaaa/ffffff/&text=Load Video" alt="Placeholder" /></a>
        </div>
      </div>
    </div>
  </div>
</div>