/* != Variables - COLOUR */

/* !== COLOUR-DESCRIPTIVE VARIABLES */
$clrNone: none;
$clrInvsibile: rgba(0,0,0,0);

/* ! Black to White */
$clrBlack: #000;
$clrDarkGrey: #333;
$clrGrey: #666;
$clrLightGrey: #999;
$clrVeryLightGrey: #efefef;
$clrOffWhite: #f9f9f9;
$clrWhite: #fff;

/* ! Blues */
//$clrBlue: #5561b9;
$clrLightBlue:#78a0da;

/* ! Oranges */
$clrOrange:#bc4100;



/* ! Gradients */
/* NOTE: Create gradients as single variables and add them to a linear-gradient mixin as a variable argument

e.g.

$gradient: $gradLightGrey: lighten($clrLightGrey, 10%), lighten($clrGrey, 10%);

...

@include background(linear-gradient($gradient...));

*/