/* != Variables - MEDIA QUERIES */

/*

MQ Names - Star Wars Theme
==========================

Use the Main names for main breakpoints and the Intermediate names for BPs for more specific rules and edge cases

Small
------------

- Main
$mqYoda
$mqArtoo

- Intermediate
$mqEwok
$mqJawa

Medium
------------

- Main
$mqLeia
$mqLuke
$mqHan
$mqThreepio

- Intermediate
$mqLando
$mqBoba
$mqLobot


Large
------------

- Main
$mqVader
$mqChewie

- Intermediate
$mqJabba
$mqWampa
$mqRancor
$mqSarlacc


Very Large
------------

- Main
$mqATAT
$mqStarDestroyer
$mqDeathStar


*/

/*
What are the parameter values for each Media Query?
- Set these values without units, these'll be added in the mixin
*/
$mqArtoo: 480;
$mqLeia: 610;
$mqLuke: 770;
$mqHan: 900;
$mqChewie: 1000;