/* != Grid Modules Styles */

.rgGridModule {
  display: table;
  width: 100%;
  margin-bottom: em(20);
  @include mq($mqLeia) {
    display: block;
  }
}

.gpGrid {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  background:$clrOrange;
  @include mq($mqLeia) {
    display: block;
    width: 100%;
  }

  &.gpFlexImage {
    background:url("http://placehold.it/600x1000/333333/CCFF49/&text=Portrait Image") bottom left no-repeat;
    background-size:cover;
  }

  .cp {
    .in {
      margin: 0;
    }
  }

  .image {
    margin-bottom: 0;
    img {
      border:none;
      width: 100%;
    }
  }
}

.cpGridCopy {
  .in {
    padding:em(20);
    background:$clrWhite;
  }
}