/* != Carousel */

.cp_Carousel {
  .in {

  }

  .slide {
    display: none;

    &:first-child {
      display: block;

    }


    a {
      display: block;
    }
  }
}

/* JS states */

.js {
  .cp_Carousel {
    .slides {
      position: relative;
      height:770px; // gets overriden by inline CSS applied by script
      transition:height 0.5s linear;
    }

    .slide {
      display: none;
      position: absolute;
      top:0;
      left:0;
      width: 100%;


      &.current {
        display: block;
      }

      &.next {
        z-index:100;
      }
    }
  }
}
