/* != Forms */

/* !== Default Styles */
fieldset {
  margin:0;
  padding:em(20);
  border:none;
  background:$clrOffWhite;
}

.formItem,
.form-item {
  margin:0 0 em(20);
}

legend {

}

label,
input,
select,
textarea {
  font-size:$basefontsize;
  font-family:$formfontfamily;
  @include box-sizing(border-box);
}

input,select,textarea {

}

input[type=radio],
input[type=checkbox]{
  display:inline;
  margin-right:3px;
}

input[type=submit] {
  @extend %basicButton;
  cursor:pointer;
  border:none;
}

label {
  display: block;
  font-weight: $bold;
}

/* !=== Validation */
.error {

}