/* != Forms */
fieldset {
  margin:0;
  padding:20px;
  border:none;
  background:$clrFieldsetBack;
}

.formItem,
.form-item {
  margin:0 0 2em;
}

legend {
  display: block;
  width: 100%;
  font-size:$basefontsize;
  font-weight: $bold;
  margin-bottom: 1em;
}

label,
input,
select,
textarea {
  font-size:$basefontsize;
  font-family:$bodyfontfamily;
  @include box-sizing(border-box);
}

input,select,textarea {

}

input[type=radio],
input[type=checkbox]{
  display:inline;
  margin-right:3px;
}

input[type=submit] {
  cursor:pointer;
}

label {
  display: block;
  font-weight: $bold;
}

/* !== Validation */
.error {

}