/* != Images */
img {
  max-width:100%;
  height:auto !important;
}

.image {
  img {
    @extend %borderBox;
  }
}

/* IE8 doesn't like max-width, so remove it and make sure any images have a correct width set */
.ie8 {
  img {
    max-width:none !important;
  }

  .image {
    img {
      width: 100%;
    }
  }
}

/* !== IE image rendering - improves appearence of resized images in IE  */
img { -ms-interpolation-mode: bicubic; }