/* != Links / Buttons */

/* !== Default Link Styles  */
a {
  color:$clrLink;
  -webkit-tap-highlight-color: $clrNone;
  -webkit-tap-highlight-color: $clrInvsibile;

  &:hover, &:focus, &:active {
    color:$clrLinkHover;
  }
}

/* !==  More/Action link */
.moreLink {
  a {
    color:$clrMoreLink;
    background:$clrMoreLinkBack;
    padding:5px 10px;
    display: inline-block;
    text-decoration: none;
    border-radius:3px;
    @include transition(background-color 0.1s linear);
    

    &:hover, &:focus {
      background:$clrMoreLinkBackHover;
      
    }

    &:active {
      background:$clrMoreLinkBackActive;
    }
  }
}