/* != NAVIGATION */
/* NOTE: Put styles for all navigation menu in here */

/* !== Main Navigation  */
.cpMainNav {
  .menu {
    display: table;
    @include display(flex);

    li {
      display: table-cell;
    }
  }
}

/* !== Sub Navigation */
.cpSubNav {
  .menu {
    li {
      display: block
    }
  }
}
