/* != Variables */

/* !== Colours */

/* !=== Hex Values */
/* NOTE: Use these to define element and other colours below. These variables should not be used in any other SASS files. */
$clrBlack: #000;
$clrDarkGrey: #333;
$clrGrey: #666;
$clrLightGrey: #999;
$clrWhite: #fff;
$clrBlue: #5561b9;

/* !=== Basic Element Colours */
/* NOTE: Use hex vars to define these. Don't add hex/rgb/rgba values directly */
$clrBodyBackground: $clrWhite;
$clrBodyText: $clrDarkGrey;

$clrHeaderBackground:$clrWhite;
$clrHeaderText:$clrLightGrey;

$clrFooterBackground:$clrDarkGrey;
$clrFooterText:$clrWhite;

$clrPageBackground: $clrWhite;
$clrPageText:$clrBlack;

/* !=== Link Colours */
/* NOTE: Use hex vars to define these. Don't add hex/rgb/rgba values directly   */
$clrLink: $clrBlue;
$clrLinkHover: lighten($clrBlue, 20%);

/* !== Typography */
$basefontsize : 1.6em;
$baselineheight : 1.5;

$basefontfamily: "Helvetica Neue",Helvetica,Arial,sans-serif;
$altfontfamily: "Helvetica Neue",Helvetica,Arial,sans-serif;
$codefontfamily: "Consolas",monaco,monospace;

/* Font Weights */
$light: 100;
$normal: 300;
$heavy: 600;

/* !== Layout */
$deviceWidth: device-width;