@charset "UTF-8";
/* !== Screen */
/* NOTE: Master SASS file for screen display. Only add @import statements. No SASS/CSS code please */
/* !== Frameworks */
/* Bourbon Library - http://bourbon.io/docs/  - @import statement tells CodeKit to use Bourbon automatically */
/* Framework - Variables, Mixins, Functions, Resets, Placeholders */
/* != Framework - ALL */
/* NOTE: imports all other files in the /framework folder  */
/* !== Variables */
/* != Variables - Colour */
/*

HOW TO USE COLOUR VARIABLES IN THIS SASS PROJECT
------------------------------------------------

1. Define your colour palette as a set of COLOUR-DESCRIPTIVE VARIABLES (e.g. $clrPaleBlue)
2. Define a set of SEMANTIC-STRUCTURAL VARIABLES to use throughout your Sass files (e.g. $clrPageHeaderBackground)
3. Set the SEMANTIC VARIABLES using the COLOUR-DESCRIPTIVE VARIABLES in this file only

RESULT: Colours are managed in one location and colour changes will not require renaming variables throughout the set of Sass files

*/
/* !=== COLOUR-DESCRIPTIVE VARIABLES */
/* NOTE: Use these to define element and other colours below. These variables should not be used in any other Sass files. */
/* ! Black to White */
/* ! e.g. Blues */
/* ! e.g. Oranges */
/* ! e.g. Reds */
/* ! Gradients */
/* NOTE: Create gradients as single variables and add them to a linear-gradient mixin as a variable argument
         e.g. @include background(linear-gradient($gradient...));
*/
/* !=== SEMANTIC VARIABLES */
/* NOTE: Use COLOUR-DESCRIPTIVE VARIABLES to define these. Don't add hex/rgb/rgba values directly */
/* ! Header */
/* ! Footer */
/* ! Page */
/* ! Typographic Elements */
/* ! Borders */
/* ! Link Colours */
/* ! Form Colours */
/* ! Style Guide */
/* != Variables - MEDIA QUERIES */
/*

MQ Names - Star Wars Theme
==========================

Use the Main names for main media queries and the Intermediate names for MQs for more specific rules and edge cases

Small
------------

- Main
$mqYoda
$mqArtoo

- Intermediate
$mqEwok
$mqJawa

Medium
------------

- Main
$mqLeia
$mqLuke
$mqHan
$mqThreepio

- Intermediate
$mqLando
$mqBoba
$mqLobot


Large
------------

- Main
$mqVader
$mqChewie

- Intermediate
$mqJabba
$mqWampa
$mqRancor
$mqSarlacc


Very Large
------------

- Main
$mqATAT
$mqStarDestroyer
$mqDeathStar


*/
/* What are the parameter values for each Media Query */
/* !== Sprite Image */
/* != Variables - SPRITES */
/* != Variables - LAYOUT */
/* !== Used in _configuration.scss partial to set viewport  */
/* !== Used in _layout.scss partial to set maximum page width in responsive layout  */
/* != Variables - TYPOGRAPHY */
/* ! Font Sizes */
/* ! Font Families */
/* ! Font Weights */
/* Base Document Values */
/* !== Functions */
/* != Functions - CONVERT TO EMS */
/* != Functions - MATHS */
/* !== Add 1 to a number */
/* !== Subtract 1 from a number */
/* !== Mixins */
/* != Media Query Mixins */
/* !== Media Query Breakpoints mixin - includes Retina display */
/* != Opacity */
/* !== Set opacity with legacy browser fallbacks */
/* != Mixins - TYPOGRAPHY */
/* !== Hide Text */
/* !== Resets */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* != Drupal Reset */
/* NOTE: Styles for resetting the Drupal system CSS */
/* !== Navigation */
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.menu li, ul.menu li.leaf {
  padding: 0;
  margin: 0;
  background: none;
  list-style: none;
}

/* !== Forms */
.resizable-textarea .grippie {
  display: none;
}

/* !== Placeholders */
/* != Placeholders - CLEARFIX */
.fd:after, .rg:after, .in:after {
  content: "";
  display: table;
  clear: both;
}

/* !== Sprites */
/* !=== Sprite Base - for position:absolute sprite image in :before/:after content */
/* != Placeholders - TYPOGRAPHY */
/* !== Heading Styles */
/* !== Clean List - remove default list styles */
.featList {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* != Placeholders - LAYOUT */
/* !== Border Box */
/* !== Generic Rules */
/* !== Typography  */
/* !== Typefaces */
/* NOTE: Declare any @font-face rules here

   Different weights of the same font family should be declared under a single name and font-weight and font-style set accordingly.

   e.g.

       @font-face{
        font-family:"WebfontName";
        src:url("/fonts/webfont_light.file");
        font-weight:$light;
      }

      @font-face{
        font-family:"WebfontName";
        src:url("/fonts/webfont_normal.file");
        font-weight:$regular;
      }

       @font-face{
        font-family:"WebfontName";
        src:url("/fonts/webfont_heavy.file");
        font-weight:$bold;
      }

  This allows you to declare a single font-family and then use font-weight and font-style in the normal way, rather
  than declaring a different font-family for each type style.

*/
@font-face {
  font-family: "Example";
  src: url("../fonts/Example_Normal.eot?#iefix");
  src: url("../fonts/Example_Normal.eot?#iefix") format("eot"), url("../fonts/Example_Normal.woff") format("woff"), url("../fonts/Example_Normal.ttf") format("truetype"), url("../fonts/Example_Normal.svg") format("svg");
  font-weight: 400;
}

/* !== Document */
body {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
}
@media screen and (min-width: 56.3125em) {
  body {
    font-size: 125%;
  }
}

/* !== Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

.siteTitle {
  margin: 0;
  font-size: 1.25em;
  color: #999999;
  font-weight: 400;
}

.pageTitle {
  font-size: 2.25em;
  margin: 1em 0 0.5em;
}

/* !== Paragraphs */
p {
  margin: 0 0 1em;
  font-size: 1em;
}

/* !== Lists */
li, dt, dd {
  font-size: 1em;
}

li li {
  font-size: 0.9em;
}

/* !== Type Styles */
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

/* !== Code */
code {
  font-size: 1em;
  font-family: "Consolas", monaco, monospace;
}

/* != Layout  */
/*
NOTE: Styles to set the layout of the larger containers and regions in the template.
      Uses the FUZZ framework hierarchy (https://github.com/jamboid/Fuzz)
*/
/* !== Set viewport and initial zoom for browsers that support CSS viewport functionality */
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* !== Document */
body {
  background: #333333;
}

/* !== Fuzz Framework Levels */
/* Basic styles for 5 levels of the framework */
/* !=== Stages (.st) - Level 1 - Full Width Container(s) */
.st {
  position: relative;
  width: 100%;
}

.stHeader {
  padding: 0;
  background: white;
  color: #999999;
}

.stPage {
  padding: 0;
  background: white;
  color: #333333;
}

.stFooter {
  padding: 2em 0;
  background: #333333;
  color: white;
}

/* !=== Field (.fd) - Level 2 - Horizontal Page Sections (e.g. Header, Page Content, Footer) */
.fd {
  clear: both;
  margin: 0 auto;
  padding: 0;
  width: 900px;
}
@media screen {
  .fd {
    width: 100%;
  }
}

/* Set fixed width on .fd containers for browsers that don't support media queries */
.ie .fd {
  width: 1000px;
}

/* !=== Region (.rg) - Level 3 - Significant Page Regions (e.g. Main Content, Sub Content) */
/* !=== Group (.gp) - Level 4 - Semantic Groups of Components */
.gp {
  z-index: 0;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* !=== Component (.cp) - Self-Contained Functional Modules (e.g. Main Navigation, Carousel, Body Content) */
.cp {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* !=== Inner (.in) - Component Inner Container - Set Component styles and layout using this element */
.in {
  margin: 0 1.5em 3em;
}

/* != Forms */
fieldset {
  margin: 0;
  padding: 20px;
  border: none;
  background: #f9f9f9;
}

.formItem,
.form-item {
  margin: 0 0 2em;
}

legend {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
}

label,
input,
select,
textarea {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=radio],
input[type=checkbox] {
  display: inline;
  margin-right: 3px;
}

input[type=submit] {
  cursor: pointer;
}

label {
  display: block;
  font-weight: 700;
}

/* !== Validation */
/* != Links / Buttons */
/* !== Default Link Styles  */
a {
  color: #78a0da;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover, a:focus, a:active {
  color: #bc4100;
}

/* !==  More/Action link */
.moreLink a {
  color: white;
  background: #333333;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.moreLink a:hover, .moreLink a:focus {
  background: #666666;
}
.moreLink a:active {
  background: #999999;
}

/* != Images */
img {
  max-width: 100%;
  height: auto !important;
}

.image img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* IE8 doesn't like max-width, so remove it and make sure any images have a correct width set */
.ie8 img {
  max-width: none !important;
}

/* !== IE image rendering - improves appearence of resized images in IE  */
img {
  -ms-interpolation-mode: bicubic;
}

/* !== Components */
/* != Generic Page Styles */
/* !== Body Content Styles */
/* NOTE: generic styles for RTE content. Create a class (e.g. bodyContent) you can apply to any container that is going to contain this kind of content.  */
.bodyContent {
  /* Paragraphs */
  /* Lists */
  /* Blockquotes */
  /* Tables */
}
.bodyContent section {
  margin: 0;
  padding: 2em 0;
  border-bottom: 1px solid #efefef;
}
.bodyContent section:last-child {
  border: none;
}
.bodyContent h1 {
  font-size: 1.875em;
}
.bodyContent h2 {
  font-size: 1.5em;
}
.bodyContent h3 {
  font-size: 1.25em;
}
.bodyContent h4 {
  font-size: 1.125em;
}
.bodyContent h5 {
  font-size: 1em;
}
.bodyContent h6 {
  font-size: 0.875em;
}
.bodyContent p {
  margin: 0 0 1em;
}
.bodyContent ul {
  list-style: disc;
}
.bodyContent ol {
  list-style: decimal;
}
.bodyContent ul, .bodyContent ol {
  margin: 1em 0em 3em 3em;
}
.bodyContent ul ul, .bodyContent ul ol, .bodyContent ol ul, .bodyContent ol ol {
  margin: 1em 0em 1em 1em;
}
.bodyContent ul li, .bodyContent ol li {
  font-size: 1em;
  margin-bottom: 0.5em;
}
.bodyContent ul li li, .bodyContent ol li li {
  font-size: 1em;
}
.bodyContent dl {
  margin: 1em 0em 3em;
}
.bodyContent dl dt, .bodyContent dl dd {
  font-size: 1em;
}
.bodyContent dl dt {
  font-weight: 700;
  margin-bottom: 0.25em;
}
.bodyContent dl dd {
  margin-bottom: 1em;
}
.bodyContent blockquote {
  font-size: 1.5em;
  font-family: "Cambria", Georgia, serif;
  padding-left: 1em;
  border-left: 5px solid #efefef;
}
.bodyContent table {
  max-width: 100% !important;
  margin: 2em 0;
  position: relative;
}
@media screen and (max-width: 48.125em) {
  .bodyContent table {
    width: 100% !important;
  }
}
.bodyContent table th, .bodyContent table td {
  font-size: 1.4em;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em 0.75em;
}
.bodyContent table th p, .bodyContent table th li, .bodyContent table td p, .bodyContent table td li {
  font-size: 1em;
  margin: 0;
}
.bodyContent table th {
  font-weight: 700;
}

/* != Brand Styles */
.cpBrand .in {
  padding: 10px 0;
  margin-bottom: 0;
}

/* != NAVIGATION */
/* NOTE: Put styles for all navigation menu in here */
/* !== Main Navigation  */
/* !== Sub Navigation */
/* !== Extras */
/* != Utilities */
/* !== Display State Classes  */
.isVisible {
  display: block;
}

.isHidden {
  display: none;
}

/* != Style Guide  */
/* NOTES: Styles to create a flat style guide */
.cpStyleGuide .compTitle {
  font-size: 1.75em;
  margin: 0 0 0.5em;
  padding: 0.25em 40px 0.25em 0.5em;
  background: #efefef;
  color: black;
  /* border-top:2px solid $clrCompTitleBorder; */
}
.cpStyleGuide[data-plugin=showhide] .compTitle {
  position: relative;
  cursor: pointer;
}
.cpStyleGuide[data-plugin=showhide] .compTitle:after {
  content: "–";
  font-size: 1.2em;
  position: absolute;
  right: 5px;
  top: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  z-index: 100;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
.cpStyleGuide[data-plugin=showhide].isHiding .compTitle:after {
  content: "+";
}
.cpStyleGuide .sgLabel {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  color: #78a0da;
}

/* != Shame */
/* NOTE: All quick-and-dirty fixes go in here, as long as you promise to properly integrate them later! */
/* !== Vendor */
