/* File:   screen.css Author: Jamie Boyd Date:   **date here** Notes:
*/
/* !== Frameworks  */
/* !== Generic Rules */
/* !== Media Query Breakpoints mixin  */
/* != Variables */
/* !== Colours */
/* !== Hex Values  */
/* !== Links  */
/* !== Typography */
/* Weights */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_reset\.scss}line{font-family:\000031}}
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_reset\.scss}line{font-family:\000031}}
article, aside, figure, footer, header, hgroup, nav, section { display: block; }

/* !== Set viewport and initial zoom */
@-webkit-viewport { width: device-width; zoom: 1.0; }

@-moz-viewport { width: device-width; zoom: 1.0; }

@-ms-viewport { width: device-width; zoom: 1.0; }

@-o-viewport { width: device-width; zoom: 1.0; }

@viewport { width: device-width; zoom: 1.0; }

/*---[ == Typefaces ]---*/
/*---[ == Headings ]---*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\000034}}
h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 600; margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000310}}
.alpha { margin: 0; font-size: 4.8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000315}}
.beta { margin: 1em 0 0.5em; font-size: 4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000320}}
.gamma { font-size: 3.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000324}}
.delta { font-size: 2.4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000328}}
.epsilon { font-size: 1.6em; }

/*---[ == Paragraphs ]---*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000333}}
p { margin: 0 0 2.4em; font-size: 1.6em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000338}}
.stFooter p { color: white; font-size: 1.6em; margin: 0; }

/*---[ == Lists ]---*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000345}}
li, dt, dd { font-size: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000349}}
li li { font-size: 0.9em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000353}}
.featList { margin: 0; padding: 0; list-style: none; }

/*---[ == Code ]---*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_typography\.scss}line{font-family:\0000360}}
code { font-size: 1.6em; font-family: consolas,monaco,monospace; }

/* != Document */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_layout\.scss}line{font-family:\000032}}
body { margin: 0; padding: 0; background: black; color: white; font-size: 62.5%; /* = 10px */ font-family: "Cambria", Georgia, serif; line-height: 1.5; }

/* != Framework Levels */
/* Basic styles for 5 levels of the framework */
/* !== Stages (.st) */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_layout\.scss}line{font-family:\0000317}}
.st { width: 100%; position: relative; }

/* !== Field (.fd) */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_layout\.scss}line{font-family:\0000323}}
.fd { clear: both; margin: 0 auto; padding: 0; width: 100%; max-width: 1200px; }

/* !== Region (.rg) */
/* !== Group (.gp) */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_layout\.scss}line{font-family:\0000337}}
.gp { position: relative; z-index: 0; float: left; clear: both; margin: 0; padding: 0; width: 100%; list-style: none; }

/* !== Component (.cp) - Set outer dimensions and display */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_layout\.scss}line{font-family:\0000349}}
.cp { margin: 0; padding: 0; width: 100%; }

/* !== Inner (.in) - Set component layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_layout\.scss}line{font-family:\0000356}}
.in { margin: 0 15px 30px; }

/* !== Grid Alignment - margins */
/* != Forms */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_forms\.scss}line{font-family:\000032}}
fieldset { margin: 0; padding: 0; border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_forms\.scss}line{font-family:\000038}}
.formItem { margin: 0 0 1em; padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_forms\.scss}line{font-family:\0000313}}
label, input, select, textarea { font-size: 1.6em; font-family: Helvetica,sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_forms\.scss}line{font-family:\0000318}}
input, select, textarea { padding: 3px; border: 1px solid #888; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_forms\.scss}line{font-family:\0000323}}
input[type=submit] { position: relative; display: inline-block; margin: 0 10px 0 0; padding: 3px 15px; border: 1px solid #242424; color: #FFF; vertical-align: bottom; letter-spacing: 0; font-weight: 700; line-height: 1.4em; cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_forms\.scss}line{font-family:\0000337}}
label { display: inline-block; width: 150px; vertical-align: top; }

/* !== Validation */
/* != Links / Buttons */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_links\.scss}line{font-family:\000032}}
a { color: #5561b9; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_links\.scss}line{font-family:\000037}}
a:active { position: relative; top: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_links\.scss}line{font-family:\0000312}}
a:hover, a:focus { color: #494f7c; }

/* != Images */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_images\.scss}line{font-family:\000032}}
img { max-width: 100%; height: auto; }

/* !== Components */
/*---[ == Main Navigation ]---*/
/* !== Scrollers  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\000032}}
.cpScroller { margin: 20px 0; position: relative; height: 100%; overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\000038}}
.cpScroller .in { padding: 0 0 3px; margin: 0 15px; position: relative; height: 100%; background: none; overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000317}}
.cpScroller ul { padding: 0 20px 0 0; display: block; overflow: scroll; white-space: nowrap; background: #ddd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000324}}
.cpScroller ul li { display: inline-block; vertical-align: top; width: 25%; position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000330}}
.cpScroller ul li .content { margin: 10px 0 10px 20px; padding: 10px 0 10px; display: block; white-space: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000337}}
.cpScroller ul li .image { line-height: 0; margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000342}}
.cpScroller ul li .summary { text-decoration: none; position: absolute; width: 80%; top: 23px; left: 25px; color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000353}}
.cpScroller .scrollControls { margin: 10px 0 0; padding: 5px 0; text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000360}}
.js .cpScroller ul { overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000364}}
.actionButton { padding: 4px 10px; margin: 0 5px; text-decoration: none; border: 1px solid #546500; color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000372}}
.actionButton:hover { color: #fff; }

/*  IE7 styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_scrollers\.scss}line{font-family:\0000377}}
.ie7 .cpScroller ul li { display: inline; zoom: 1; white-space: nowrap; }

/* !== Extras */
/*---[ Self-Clearing Floats ]---*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Jamie\/Dropbox\/Code\/Github\%20Projects\/Boilerplate\/assets\/scss\/partials\/_utilities\.scss}line{font-family:\000033}}
.fd:after, .in:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
