/* != Framework Module - BUTTONS */

/* !== Basic Button Style */

// Placeholder for static styles

%buttonBase {
  @include rem(padding, 8px 20px 5px);
  display: inline-block;
  text-decoration: none;
  border-radius:3px;
  transition:background-color 0.1s linear;
}

@mixin basicButton($color, $background, $hoverColor: $color, $hoverBackground: darken($background, 12)) {
  @extend %buttonBase;
  color:$color;
  background:$background;

  &:hover, &:focus, &:active {
    color:$hoverColor;
    background:$hoverBackground;
  }
}