/* != Body Content Styles */

/* NOTE: generic styles for RTE content. Create a class (e.g. bodyContent) you can apply to any container that is going to contain this kind of content.  */

.bodyContent {

  section {
    margin: 0;
    padding:2em 0;
    border-bottom:1px solid $clrVeryLightGrey;

    &:last-child {
      border:none;
    }
  }

  h1 {
    font-size: em(30);
  }

  h2 {
    font-size: em(24);
  }

  h3 {
    font-size: em(20);
  }

  h4 {
    font-size: em(18);
  }

  h5 {
    font-size: em(16);
  }

  h6 {
    font-size: em(14);
  }

  /* Paragraphs */

  p {
    margin: 0 0 1em;
  }

  /* Lists */
  ul {
    list-style:disc;
  }

  ol {
    list-style:decimal;
  }

  ul, ol {
    margin: em(10) 0 em(20) em(25);

    ul, ol {
      margin: em(10) 0 em(10) em(10);
    }

    li {
      font-size: $basefontsize;
      margin-bottom:0.5em;

      li {
        font-size: 1em;
      }
    }
  }

  dl {
    margin: em(10) 0em em(20);

    dt, dd {
      font-size: $basefontsize;
    }

    dt {
      font-weight: $bold;
      margin-bottom: em(10);
    }

    dd {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Blockquotes */
  blockquote {
    font-size: em(15);
    font-family:$displayfontfamily;
    padding-left: 1em;
    border-left:5px solid $clrVeryLightGrey;
  }

  /* Tables */
  table {
    max-width: 100% !important;
    margin:2em 0;
    position: relative;
    @include mq($mqLuke){
      width: 100% !important;
    }

    th, td {
      font-size: em(14);
      line-height: 1.3;
      text-align: center;
      vertical-align:middle;
      padding:0.5em 0.75em;

      p, li {
        font-size: 1em;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    th {
      font-weight: $bold;
    }
  }
}