/* != Webfonts */

/* !== Styles for hiding text until webfonts load and then fading it on nicely */

/* !=== For use with the Site.webfonts.js module */
.js .st {
  opacity:0;
  filter: alpha(opacity=0);
}

.js .showText .st {
  opacity:1;
  filter: alpha(opacity=1);
}

// Styles for Google Webfont loader
.wf-loading body .st {
  opacity:0 !important;
  filter: alpha(opacity=0)!important;
}

.wf-active body .st,
.wf-inactive body .st {
  opacity:1 !important;
  filter: alpha(opacity=1)!important;
  -webkit-transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}